@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<h1>Kulllanıcı Listesi </h1>
<table class="table table-bordered table-striped">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Kullanıcı Adı</th>
        <th>Email Adresi</th>
        <th>Yorumlar</th>
        <th>Tur Geçmişi</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @{
                sayac = sayac + 1;
            }
            <td>@sayac</td>
            <td>@item.Name @item.Surname</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><a href="/Admin/User/CommentUser/@item.Id" class="btn btn-outline-info">Yorumlar</a></td>
            <td><a href="/Admin/User/ReservationUser/@item.Id" class="btn btn-outline-success">Tur Geçmişi</a></td>
            <td><a href="/Admin/User/EditUser/@item.Id" class="btn btn-outline-primary">Düzenle</a></td>
            <td><a href="/Admin/User/DeleteUser/@item.Id" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }

</table>



<a href="/Login/SignUp" class="btn btn-outline-primary">Kullanıcı Kaydı</a>