@model List<ContactUs>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h1> Bize Ulaşın Mesajları</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Mesajı aç</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.MessageBody</td>
            <td>@item.MessageDate.ToString("dd.MMM.yyyy")</td>
            <td><a href="#" class="btn btn-outline-danger"> Sil </a></td>
            <td><a href="#" class="btn btn-outline-dark"> Mesajı Aç </a></td>
        </tr>

    }
</table>

<a href="/Admin/Guide/AddGuide" class="btn btn-outline-primary">Yeni Rehber Girişi</a>